<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="gantt-chart" class="gantt">
    <span class="d-1"></span>
    <span class="d-2"></span>
    <span class="d-3"></span>
    <span class="d-4"></span>
    <span class="d-5"></span>
    <span class="d-6"></span>

    <h3 class="h-sun">sun</h3>
    <h3 class="h-mon">mon</h3>
    <h3 class="h-tue">tue</h3>
    <h3 class="h-wed">wed</h3>
    <h3 class="h-thu">thu</h3>
    <h3 class="h-fri">fri</h3>
    <h3 class="h-sat">sat</h3>

    <div class="t-1" style="grid-column: sun-morning / mon-night;">Take the badger for a walk</div>
    <div class="t-2" style="grid-column: mon-morning / sat-night;">Manufacture some cheese</div>
    <div class="t-3" style="grid-column: sun-morning / tue-midday;">Prepare talk on foot hygiene</div>
    <div class="t-4" style="grid-column: tue-midday / wed-night;">Sleep</div>
    <div class="t-5" style="grid-column: mon-morning / wed-midday;">Photograph breakfast</div>
    <div class="t-6" style="grid-column: mon-night / fri-morning;">Paint the inside of the refrigerator</div>
    <div class="t-7" style="grid-column: wed-midday /sat-night;">Sail to Madagascar</div>
    <div class="t-8" style="grid-column: wed-midday / thu-midday;">Sleep</div>
    <div class="t-9" style="grid-column: thu-midday / sat-night;">Plan the following week’s tasks</div>
</div>
</body>
</html>